header {
    position: absolute;
    width: 100%;
    height: 145px;
    left: 0px;
    top: 0px;

    background-color: #0F8B8D;
    border-radius: 30px 30px 0px 0px;
}

.header-logo img {
    position: absolute;
    width: 335px;
    height: 67px;
    left: 138px;
    top: 39px;
}

.header-right {
    display: flex;
    flex-direction: row;
    column-gap: 49px;

    float: right;

    margin-top: 54px;
    margin-right: 138px;
}

.header-right a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.page-title {
    position: absolute;
    width: 582px;
    height: 58px;
    left: 370px;
    top: 245px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #0F8B8D;
}

.opening-text {
    position: absolute;
    width: 485px;
    height: 29px;
    left: 415px;
    top: 343px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #143642;
}

.menu-wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    column-gap: 100px;
    row-gap: 40px;

    margin-left: 210px;
    margin-top: 410px;
    width: 70%;
    height: 600px;
}

.artboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 25%;
    height: 36%;   
    background-image: url(https://github.com/aryof/gambar-proyek-html-css-1/blob/main/Artboard%201%201.png?raw=true);

    border-radius: 20px;
}

.artboard p1 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 21px;
}

.artboard p2 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.coffee-icon {
    width: 186px;
    height: 140px;
}

.coffee-icon img {
    width: 186px;
    height: 140px;
}

footer {
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0px;
    top: 1000px;

    background: #143642;
    border-radius: 30px;
}

.footer-logo {
    position: absolute;
    width: 335px;
    height: 67px;
    left: 138px;
    top: 80px;
}

.mail-contact {
    position: absolute;
    height: 32px;
    width: 40px;
    left: 141px;
    top: 200px;
    border-radius: 0px;
}

.phone-contact {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 215px;
    top: 200px;
    border-radius: 0px;
}

.business-info {
    display: flex;
    flex-direction: row;

    height: 300px;
    margin-left: 650px;
    margin-top: 85px;

    font-family: 'Lato';
    font-size: 24px;
}

.business-info h {
    font-weight: 700;
    color: #EC9A29;
}

.business-products {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.business-products a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.business-location {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-left: 70px;
}

.business-location a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.business-contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-left: 70px;
}

.business-contact a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}